@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3>Movies</h3>
<button class="btn btn-primary" asp-page="./New">New</button>

<div class="row">
    <div class="col-12">
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Director</th>
                    <th>Release Year</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td>@movie.Title</td>
                        <td>@movie.Genre</td>
                        <td>@movie.Director</td>
                        <td>@movie.ReleaseYear</td>
                        <td>
                            <a class="btn btn-sm btn-secondary" asp-page="./Edit" asp-route-id="@movie.ID">Edit</a>
                            <a class="btn btn-sm btn-danger" asp-page="./Delete" asp-route-id="@movie.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

